# Flake8 configuration file
[flake8]
exclude =
    # Git directory
    .git,
    # Python cache directory
    __pycache__,
    # Python packages stored in venv (virtual environment)
    env
count = True
statistics = True
